<form [formGroup]="filterForm" >
  <div>
    <label for="nameFilter">Поиск по названию:</label>
    <input type="text" id="nameFilter" formControlName="name" />
  </div>
  <div>
    <label for="typeFilter">Фильтр по типу:</label>
    <select id="typeFilter" formControlName="type">
      <option value="All">Все</option>
      <option *ngFor="let type of types" value="{{type}}">{{ type }}</option>
      <!-- Добавьте остальные типы компаний -->
    </select>
  </div>
  <div>
    <label for="industryFilter">Фильтр по виду деятельности:</label>
    <select id="industryFilter" formControlName="industry">
      <option value="All">Все</option>
      <option *ngFor="let industry of industries" value="{{industry}}">{{industry}}</option>
      <!-- Добавьте остальные виды деятельности -->
    </select>
  </div>
</form>
